<!-- start custom head snippets -->

<!-- insert favicons. use https://realfavicongenerator.net/ -->

<link rel="icon" type="image/png" href="{{ '/assets/images/favicon-48x48.png' | relative_url }}" sizes="48x48" />
<link rel="icon" type="image/svg+xml" href="{{ '/assets/images/favicon.svg' | relative_url }}" />
<link rel="shortcut icon" href="{{ '/assets/images/favicon.ico' | relative_url }}" />
<link rel="apple-touch-icon" sizes="180x180" href="{{ '/assets/images/apple-touch-icon.png' | relative_url }}" />
<meta name="apple-mobile-web-app-title" content="Blog in the Machine" />
<link rel="manifest" href="{{ '/assets/images/site.webmanifest' | relative_url }}" />

<!-- end custom head snippets -->
