/* Copyright comment */
@import "minimal-mistakes/copyright";

/* Variables */
@import "minimal-mistakes/variables";

/* Mixins and functions */
@import "minimal-mistakes/vendor/breakpoint/breakpoint";
@include breakpoint-set("to ems", true);
@import "minimal-mistakes/vendor/magnific-popup/magnific-popup"; // Magnific Popup
@import "minimal-mistakes/vendor/susy/susy";
@import "minimal-mistakes/mixins";

/* Core CSS */
@import "minimal-mistakes/reset";
@import "minimal-mistakes/base";
@import "minimal-mistakes/forms";
@import "minimal-mistakes/tables";
@import "minimal-mistakes/animations";

/* Components */
@import "minimal-mistakes/buttons";
@import "minimal-mistakes/notices";
@import "minimal-mistakes/masthead";
@import "minimal-mistakes/navigation";
@import "minimal-mistakes/footer";
@import "minimal-mistakes/search";
@import "minimal-mistakes/syntax";

/* Utility classes */
@import "minimal-mistakes/utilities";

/* Layout specific */
@import "minimal-mistakes/page";
@import "minimal-mistakes/archive";
@import "minimal-mistakes/sidebar";
@import "minimal-mistakes/print";

form {
  border-radius: 4px;
}

label {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.btn--primary {
  background-color: #6f777d;
  color: #fff; 
}

.btn--primary:visited {
  background-color: #6f777d;
  color: #fff; 
}

.btn--primary:hover {
  background-color: #595f64;
  color: #fff; 
}

.btn--inverse {
  background-color: #fff;
  color: #3d4144;
  border: 1px solid #f2f3f3;
}

.btn--inverse:visited {
  background-color: #fff;
  color: #3d4144; 
}
  
.btn--inverse:hover {
  background-color: #cccccc;
  color: #3d4144; 
}

a:hover {
  outline: 0;
}

*:focus {
    outline: 0 !important;
}

input[type="number"] {
  width: 3em;
}